@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --tyr-gradient: linear-gradient(
    45deg,
    #2E3192,
    #F15A24,
    blue
  );
  --bw-gradient: linear-gradient(
    45deg,
    black,
    grey
  )
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

html {
  height: 100%;
}

body {
  height: 100%;
  color: rgb(var(--foreground-rgb));
  /* background-repeat: no-repeat;
  background-image: linear-gradient(90deg ,orange, purple); */
  /* padding-top: 64px; */
  background-image: var(--bw-gradient);
  background-size: 400%;
  padding-top: 5rem;
  animation: bg-animation 30s infinite alternate
}

@keyframes bg-animation {
  0% {
    background-position: left;
  }
  100% {
    background-position:  right;
  }
}

@layer components {

  .navbar {
    @apply fixed top-0 h-20 w-screen m-0 flex flex-row 

  }
  
  .nav-icon {
    @apply text-center
    ml-6
  }

  .nav-text {
    @apply flex justify-center
    my-auto mr-8 ml-8 
    font-semibold text-base
  }

  .nav-button {
    @apply flex justify-center items-center   
    rounded-full w-32 h-14 border shadow-2xl
    my-auto ms-auto mx-8
    font-semibold text-base 
    bg-gradient-to-r from-orange to-purple
    bg-400% bg-left
    hover:bg-right
    transition-all 
    
  }

  .nav-dropdown {
    @apply flex
  }



}