@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --tyr-gradient: linear-gradient(
    45deg,
    #2E3192,
    #F15A24,
    blue
  );
  --bw-gradient: linear-gradient(
    45deg,
    black,
    grey
  )
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@property --gradient-angle {
  syntax: '<angle>';
  initial-value: 0deg;
  inherits: false;
}

@keyframes rotation {
  0% { --gradient-angle: 0deg}
  100% { --gradient-angle: 360deg}
}

html {
  height: 100%;
}

body {
  height: 100%;
  color: rgb(var(--foreground-rgb));
  /* background-repeat: no-repeat;
  background-image: linear-gradient(90deg ,orange, purple); */
  background-image: var(--bw-gradient);
  background-size: 400%;
  padding-top: 20px;
}

@layer components {

  .navbar {
    @apply fixed top-0 h-[80px] w-screen m-0 flex flex-col sm:flex-row 
  }
  

  .nav-homeicon {
    @apply text-center
    ml-[40px] mr-[24px]
  }


  .nav-menutitle {
    @apply relative justify-center tracking-[0.075em]
    my-auto mr-8 ml-8 h-6
    text-[19.2px] font-semibold
    transition-all
  }

  .nav-menutitle::before {
    @apply absolute content-['']
    rounded w-[0%] h-[2px] left-0 -bottom-[8px]
    bg-gradient-to-r from-orange to-purple
    bg-400%
  }
  .nav-menutitle:hover::before {
    @apply w-[100%] duration-[425ms] animate-gradient-fast
  }
  
  .nav-bridge {
    @apply w-[100%] h-[18px] bg-transparent content-['']
  }

  .nav-dropdown {
    @apply absolute hidden justify-center
    p-[32px] top-[44px] rounded
    bg-black
    transition-all 
  }
  .nav-dropdown::before,
  .navbar-dropdown::after {
    @apply absolute content-['']
    rounded inset-[-1.6px] z-[-1]
  }
  
  
  .nav-gradientbutton {
    @apply flex justify-center items-center
    rounded-full w-[136px] h-[56px] border shadow-2xl
    my-auto ms-auto mx-[32px]
    font-semibold text-lg tracking-wide
    bg-gradient-to-r from-orange to-purple
    bg-400%
    hover:w-[144px]
    transition-all
    animate-gradient
  }

}

/* .nav-menutitle:hover .nav-dropdown {
  display: block;
} */

.nav-dropdown::before,
.nav-dropdown::after {
  background: conic-gradient(
    from var(--gradient-angle),
    #2E3192,
    #F15A24,
    #2E3192
  ) ;
  animation: rotation 4s linear infinite
}
.nav-dropdown::after {
  filter: blur(4rem);
}