@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --tyr-gradient: linear-gradient(
    45deg,
    #2E3192,
    #F15A24,
    blue
  );
  --bw-gradient: linear-gradient(
    45deg,
    black,
    grey
  )
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@property --gradient-angle {
  syntax: '<angle>';
  initial-value: 0deg;
  inherits: false;
}

@keyframes rotation {
  0% { --gradient-angle: 0deg}
  100% { --gradient-angle: 360deg}
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

html {
  scroll-behavior: smooth;
}

html, 
body {
  height: 100%;
 }

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(9, 9, 9);
  background-size: 400%;
  padding-top: 80px;
}

section {
  overflow: hidden;
}

@layer components {

  /* Navigation */
  .navbar {
    @apply fixed flex flex-row
    w-screen m-0 top-0 h-[64px] 
    z-10
  }
  .navbar-titles {
    @apply hidden md:flex flex-row
    w-screen m-0 top-0 
    z-10
  }
  .navbar-titles[data-visible] {
    @apply absolute grid text-center
    top-28 bottom-20 left-0 gap-8 p-4 h-[14.8rem] min-h-[0]
    bg-slate-900 rounded-lg
  }
  .nav-toggle {
    @apply md:hidden
    mr-8 ms-auto z-20
    cursor-pointer bg-transparent 
  }


  .nav-homeicon {
    @apply text-center shrink-0
    ml-[32px] mr-[20px]
  }

  .nav-menu-title {
    @apply relative justify-center items-center tracking-[0.075em]
    my-auto mr-6 ml-6 h-7
    text-[18px] font-semibold
    transition-all
  }

  .nav-menu-title::before {
    @apply absolute content-['']
    rounded w-[0%] h-[2px] left-0 -bottom-[2.5px]
    bg-gradient-to-r from-orange to-purple
    bg-400%
  }
  .nav-menu-title:hover::before {
    @apply md:w-[100%] duration-[425ms] animate-gradient-fast
  }
  
  .nav-bridge {
    @apply w-[100%] h-[10px] bg-transparent content-['']
  }

  .nav-dropdown {
    @apply absolute block justify-center 
    p-6 top-[40px] rounded
    bg-black min-h-[0]
    transition-all duration-[400ms] invisible
  }
  .nav-dropdown::before,
  .navbar-dropdown::after {
    @apply absolute content-['']
    rounded inset-[-1.6px] z-[-1]
  }
  .nav-dropdown-wrapper {
    @apply opacity-0
    transition-all duration-500
  }

  .nav-menu-option {
    @apply flex flex-col w-32 h-28
    text-[14px]
    transition-all
  }
  .nav-menu-option-wrapper {
    @apply flex items-center justify-center text-center gap-4
  }
  
  .large-icon {
    @apply w-20
  }
  .large-icon-wrapper {
    @apply relative flex items-center justify-center 
    mx-auto my-auto
  }

  .nav-gradientbutton {
    @apply hidden md:flex justify-center items-center shrink-0
    rounded-3xl w-[132px] h-[50px] border shadow-2xl
    my-auto ms-auto mx-[32px]
    font-semibold tracking-wide text-[17.5px]
    bg-gradient-to-r from-orange to-purple
    bg-400%
    hover:w-[140px]
    transition-all
    animate-gradient
  }
  .nav-gradientbutton:hover {
    @apply bg-350%
  }


  /* Hero */
  .container {
    @apply w-screen p-24 ms-auto me-auto
  }

  .even-columns {
    @apply grid grid-flow-col auto-cols-fr
    gap-4
  }

  .hero-button {
    @apply flex justify-center items-center shrink-0
    rounded-3xl w-[128px] h-[44px] border shadow-2xl
    font-semibold tracking-wide text-[17.5px]
    bg-400%
  }
  .nav-gradientbutton:hover {
    @apply bg-350%
  }

  /* Footer */
  footer {
    @apply flex flex-col w-screen
  }

  .footer-nav {
    @apply grid
  }

}

.nav-dropdown::before,
.nav-dropdown::after {
  background: conic-gradient(
    from var(--gradient-angle),
    #2E3192,
    #F15A24,
    #2E3192
  ) ;
  animation: rotation 4s linear infinite
}

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

/* absolute font-bold text-3xl justify-around 
min-h-[200px] left-44 */
/* relative flex flex-col items-center p-2 */